name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  spec:
    name: Ruby ${{ matrix.ruby_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby_version: ['2.6', '2.7', '3.0']
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true
    - run: bundle exec rake
